<ion-view title="Getting Started" id="page6" style="background-color:#6D2F69;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search popular commands ">
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">Suggestions</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Ask Jordyn for recipe advice</ion-item>
                    <ion-item>Ask for a specific ingredient</ion-item>
                    <ion-item>Tell Jordyn to set a timer</ion-item>
                    <ion-item>Ask Jordyn for funny stories</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>