<ion-view title="Ingredients" id="page2" style="background-color:#6D2F69;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="browse popular ingredients">
            </label>
        </form>
        <a ui-sref="menu.addingIngredient" id="ingredients-button4" class="button button-positive  button-block">Add an ingredient to the list</a>
        <div class="list card">
            <div class="item item-divider">My current ingredients</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/ZoOS90rTRKKpxPuMoELQ_flour.jpg">
                        <h2>Flour</h2>
                        <p>Flour is measured in cups</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/2oJihCFQl614OxN1NIve_cereal.JPG">
                        <h2>Frosted Flakes</h2>
                        <p>Frosted Flakes are measured in cups</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/fXoUwSjYTgqRSpsNhBih_oregano.JPG">
                        <h2>Oregano</h2>
                        <p>Oregano is measured in tablespoons</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/oJBWNj86Qm6s7JUaz93N_salt.jpg">
                        <h2>Salt</h2>
                        <p>Salt is measured in tablespoons</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>