<ion-view title="Settings" id="page4" style="background-color:#6D2F69;">
    <ion-content padding="true" class="has-header">
        <h2 id="settings-heading2" style="color:#FFFFFF;font-weight:lighter;text-align:center;">Jordyn Settings</h2>
        <div class="list card">
            <div class="item item-divider">Jordan Connectivity</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Connecting to Wifi</ion-item>
                    <ion-item>Troubleshooting</ion-item>
                    <ion-item>Voice Configuration</ion-item>
                    <ion-item>Updates</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Account Configuration</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>History</ion-item>
                    <ion-item>View Connected Devices</ion-item>
                    <ion-item>Logout</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>