<ion-view title="Sign Out" id="page5" style="background-color:#6D2F69;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div id="signOut-markdown1" style="color:#FFFFFF;font-size:23px;text-align:center;">
                <p>Are you sure you want to sign out?</p>
            </div>
            <div class="spacer" style="height: 40px;"></div>
            <button id="signOut-button3" class="button button-positive  button-block">Cancel</button>
            <button id="signOut-button1" style="color:#FFFFFFF;" class="button button-positive  button-block">Yes, Sign Out</button>
        </form>
    </ion-content>
</ion-view>