<ion-view title="Status of Ingredients" id="page3" style="background-color:#6D2F69;">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Refill Status</div>
            <div class="item item-body">
                <form class="list">
                    <ion-item class="range range-positive">Flour
                        <input type="range" value="75" min="0" max="100">
                    </ion-item>
                    <ion-item class="range range-positive">Frosted Flakes
                        <input type="range" value="20" min="0" max="100">
                    </ion-item>
                    <ion-item class="range range-positive">Oregano
                        <input type="range" value="90" min="0" max="100">
                    </ion-item>
                    <ion-item class="range range-positive">Salt
                        <input type="range" value="40" min="0" max="100">
                    </ion-item>
                </form>
            </div>
            <div class="item item-divider">Thank you for choosing Jordyn!</div>
        </div>
    </ion-content>
</ion-view>